---
visible: true
---
<script> 
    import { Image, Video, Pdf } from "$lib/components/evidence"; 
</script> 

## Evidence

Due to the sensitive topic, this learning goal has to be verified in person, I have made a report to a company about a vulnerability being exploited by threat actors.