---
visible: true
---
<script> 
    import { Image, Video, Pdf } from "$lib/components/evidence"; 
</script> 

## Explanation

In the DI4D we worked with figma first to create a natural and intuitive user expierence. 
We made a lofi design first and preformed an analysis of it based on the 10 heuristics of Nielsen, 
after which we made a hifi design. Throughout the process we involved the client to cross check 
our design with the clients needs.

## Links

<a href="https://github.com/Thomas-More-Digital-Innovation/2526-DI-034-DI4D-Portal" target="_blank">link to the project</a>
<br />
<a href="https://www.figma.com/files/team/1570418291606593251/project/496722806?fuid=1552228711612548536" target="_blank">link to the figma files</a>

## Figma screenshot

<Image src="evidence.png" alt="" caption="" /> 
