---
visible: true
---
<script> 
    import { Image, Video, Pdf } from "$lib/components/evidence"; 
</script> 

## Explanation 

For the RepairCafé I worked with next.js where the frontend and backend are integrated in one project. 

## Link 

<a href="https://github.com/Thomas-More-Digital-Innovation/2526-TMEM-001-Ticketing-system-for-repair-cafe" target="_blank">GitHub Repository</a>
