---
visible: true
---
<script> 
    import { Image, Video, Pdf } from "$lib/components/evidence"; 
</script> 

During the SKIL2 and MPI project we used the TALL-stack, which includes Alpine.js for client-side interactivity.
Escpecially in the MPI project I worked a lot with it to make the client-side interactivity for the test part of the application.

## Links

<a href="https://github.com/Thomas-More-Digital-Innovation/" target="_blank">link to the project</a>

