---
visible: true
---
<script> 
    import { Image, Video, Pdf } from "$lib/components/evidence"; 
</script> 

## Explanation

For the UA arcade cabinet I built a simple frontend and api that I used in a first meeting as a PoC 
to show that we had understood the requirements laid out by the client.

## Links

<a href="https://github.com/Thomas-More-Digital-Innovation/2526-UAnt-007-Arcade-cabinet" target="_blank">link to the project</a>