---
visible: true
---
<script> 
    import { Image, Video, Pdf } from "$lib/components/evidence"; 
</script> 

## Evidence

During the project I had weekly meetings with Jonas to discuss the progress of the project. 
I delivered my research findings in an article style document that is easy to follow. All steps taken to achieve the end result are in the document.

## Files

<a href="https://github.com/Thomas-More-Digital-Innovation/2526-JC-002-Backend-WASM/blob/main/Documentation.md" target="_blank">Documentation</a>
