---
visible: true
---
<script> 
    import { Image, Video, Pdf } from "$lib/components/evidence"; 
</script> 

I acomplished this in the SKIL2 course

## Files

<Image src="image.png" alt="" caption="" /> 

