---
visible: true
---
<script> 
    import { Image, Video, Pdf } from "$lib/components/evidence"; 
</script> 

I acomplished this in the SKIL2 course.
My portfolio can be found on [davidmaat.be](https://davidmaat.be)

## Files

<Image src="image.png" alt="" caption="" /> 

