---
visible: true
---
<script> 
    import { Image, Video, Pdf } from "$lib/components/evidence"; 
</script> 

## Course description

I acomplished this during the Software Modelling & Design course. 

## Files

<Image src="examresults.png" alt="" caption="" /> 