---
visible: true
---
<script> 
    import { Image, Video, Pdf } from "$lib/components/evidence"; 
</script> 

## Accomplished Learning Goals

During DI and SKIL2 I have presented my portfolio in accordance with my personal brand 

