---
visible: false
---
<script> 
    import { Image, Video, Pdf } from "$lib/components/evidence"; 
</script> 

## Evidence

During the SKIL2 course I built a CRUD for notification/mail templating.

## Links

<a href="https://github.com/itfactory-tm/2026-ProjectSKIL2-101" target="_blank">link to the project</a>

## Files

<Image src="image.png" alt="" caption="" /> 
<Image src="telegram message.png" alt="" caption="" /> 

