---
visible: true
---
<script> 
    import { Image, Video, Pdf } from "$lib/components/evidence"; 
</script> 

This learning goal was accomplished during the Software Modeling and Design 

<Image src="image.png" alt="" caption="" /> 
